### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [241]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete .head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [242]:
# Calculate the total number of schools

schools_name = school_data_complete ["school_name"].unique()
total_number_of_schools = len(schools_name)
total_number_of_schools

15

In [243]:
# Calculate the total number of students

total_number_of_students = student_data ["student_name"].count()
total_number_of_students

39170

In [244]:
# Calculate the total budget

total_budget = school_data["budget"].sum()
total_budget

24649428

In [245]:
# Calculate the average maths score

average_maths_score = school_data_complete ["maths_score"].mean()
average_maths_score

70.33819249425581

In [246]:
average_reading_score = school_data_complete ["reading_score"].mean()
average_reading_score

69.98013786060761

In [247]:
# Calculate the percentage of students with a passing maths score (50 or greater)

students_passing_maths = school_data_complete.loc[school_data_complete ["maths_score"] >= 50]
number_students_passing_maths = students_passing_maths ["student_name"].count()
percentage_students_passing_maths = ( number_students_passing_maths / total_number_of_students)*100
percentage_students_passing_maths

86.07863160582077

In [248]:
# Calculate the percentage of students with a passing reading score (50 or greater)

students_passing_reading =  school_data_complete.loc[school_data_complete ["reading_score"] >= 50] 
number_students_passing_reading = students_passing_reading ["reading_score"].count()
percentage_students_passing_reading = (number_students_passing_reading / total_number_of_students)*100
percentage_students_passing_reading

84.42685728874139

In [249]:
# Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

overall_passing =school_data_complete[(school_data_complete ["maths_score"] >= 50) & (school_data_complete ["reading_score"] >= 50)]["Student ID"].count()/total_number_of_students*100
overall_passing

72.80827163645647

In [250]:
# Create a dataframe to hold the above results
goverment_summary = pd.DataFrame ({
   "Total Schools": total_number_of_schools,
    "Total Students": total_number_of_students, 
    "Total Budget":total_budget, 
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    "% Passing Maths" : percentage_students_passing_maths,
    "% Passing Reading": percentage_students_passing_reading,
    "% Overall Passing":overall_passing }, index = [0])

goverment_summary ["Total Budget"] = goverment_summary ["Total Budget"].map ("${:,.2f}".format)
goverment_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [251]:
# School Name
school_name_total = school_data_complete.set_index("school_name").groupby (["school_name"])

In [252]:
# School Type
school_type = school_data.set_index("school_name") ["type"]
#school_type.shape

In [253]:
# Total Students
total_students = school_name_total ["Student ID"].count()
#school_type.shape

In [254]:
# Total School Budget
total_school_budget = school_data.set_index("school_name") ["budget"]
#total_school_budget.shape

In [255]:
# Per Student Budget
budget_per_student = (school_data.set_index ("school_name") ["budget"] / school_data.set_index ("school_name") ["size"])
#budget_per_student.shape

In [256]:
# Average Maths Score
average_maths_score = school_name_total["maths_score"].mean()
#average_maths_score.shape

In [257]:
# Average Reading Score
average_reading_score =  school_name_total ["reading_score"].mean()
#average_reading_score.shape

In [258]:
# % Passing Maths
students_passing_maths = school_data_complete[school_data_complete ["maths_score"] >= 50].groupby ("school_name")["Student ID"]. count()/total_students*100

#students_passing_maths.shape

In [259]:
# % Passing Reading
students_passing_reading = school_data_complete[school_data_complete ["reading_score"] >= 50].groupby ("school_name")["Student ID"].count()/total_students*100
#students_passing_reading.shape

In [260]:
# % Overall Passing (The percentage of students that passed maths and reading.)

overall_passing = school_data_complete[(school_data_complete["reading_score"] >= 50) & (school_data_complete["maths_score"] >= 50)]. groupby ("school_name")["Student ID"].count()/total_students*100
#overall_passing.shape

In [261]:
# Create a dataframe to hold the above results

school_summary_df = pd.DataFrame({ "School Type": school_type, "Total Students": total_students, 
                               "Per Student Budget": budget_per_student,"Total School Budget": total_school_budget,
                               "Average Maths Score": average_maths_score,"Average Reading Score": average_reading_score,
                               "% Passing Maths": students_passing_maths,"% Passing Reading": students_passing_reading,"% Overall Passing": overall_passing })




school_summary_df  = school_summary_df [["School Type", 
                          "Total Students", 
                          "Total School Budget", 
                          "Per Student Budget", 
                          "Average Maths Score", 
                          "Average Reading Score",
                          "% Passing Maths",
                          "% Passing Reading",
                          "% Overall Passing"]]

school_summary_df .style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Maths Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Maths": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [262]:
top_performing_df = school_summary_df .sort_values("% Overall Passing", ascending = False)
top_performing_df.head ()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [263]:
worst_performing_df =school_summary_df .sort_values("% Overall Passing", ascending = True)
worst_performing_df.head ()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [264]:
ninth_average_maths = student_data.loc[student_data["year"] == 9].groupby("school_name")["maths_score"].mean()
tenth_average_maths = student_data.loc[student_data["year"] == 10].groupby ("school_name")["maths_score"].mean()
eleventh_average_maths = student_data.loc[student_data["year"] == 11].groupby("school_name")["maths_score"].mean()
twelfth_average_maths = student_data.loc[student_data["year"] == 12].groupby("school_name")["maths_score"].mean()



maths_score = {
    'Year 9':ninth_average_maths,
    'Year 10':tenth_average_maths,
    'Year 11':eleventh_average_maths,
    'Year 12':twelfth_average_maths 
}

maths_score_df = pd.DataFrame(maths_score)

maths_score_df.index.name = "school_name"
maths_score_df

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [265]:
ninth_average_reading = student_data.loc[student_data["year"] == 9].groupby("school_name")["reading_score"].mean()
tenth_average_reading = student_data.loc[student_data["year"] == 10].groupby ("school_name")["reading_score"].mean()
eleventh_average__reading = student_data.loc[student_data["year"] == 11].groupby("school_name")["reading_score"].mean()
twelfth_average__reading = student_data.loc[student_data["year"] == 12].groupby("school_name")["reading_score"].mean()



read_score = {
    'Year 9':ninth_average_reading,
    'Year 10':tenth_average_reading ,
    'Year 11':eleventh_average__reading,
    'Year 12':twelfth_average__reading 
}

read_score_df = pd.DataFrame(read_score)

read_score_df.index.name = "school_name"
read_score_df

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [266]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names =  ["<$585", "$585-630", "$630-645", "$645-680"]

# Categorize spending based on the bins.
school_summary_df ["Spending Ranges (Per Student)"] = pd.cut(budget_per_student, spending_bins, labels=group_names)
#school_summary_df

In [267]:
# Calculate averages for the desired columns.

spending_maths_scores = school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading =school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1003721620.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_maths_scores = school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1003721620.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_reading_scores = school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1003721620.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_passing_maths = school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1003721620.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_passing_reading =school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1003721620.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  overall_passing_spending = school_summary_df .groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [268]:
# Assemble into DataFrame.

spending_summary_df = pd.DataFrame({
          "Average Maths Score" : spending_maths_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Maths": spending_passing_maths,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

In [269]:
#formating
spending_summary_df.style.format({'Average Maths Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Maths': '{:.2f}', 
                              '% Passing Reading':'{:.2f}', 
                              '% Overall Passing': '{:.2f}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [270]:

# create size bins

bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize spending based on the bins.
school_summary_df ["School Size"] = pd.cut(school_summary_df ["Total Students"],bins, labels =labels)
#school_summary_df

In [271]:
# Calculate averages for the desired columns.
size_maths_scores = school_summary_df .groupby(["School Size"]).mean()["Average Maths Score"]
size_reading_scores = school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_maths =school_summary_df .groupby(["School Size"]).mean()["% Passing Maths"]
size_passing_reading = school_summary_df .groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = school_summary_df .groupby(["School Size"]).mean()["% Overall Passing"]

C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1027552483.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_maths_scores = school_summary_df .groupby(["School Size"]).mean()["Average Maths Score"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1027552483.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_reading_scores = school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1027552483.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_passing_maths =school_summary_df .groupby(["School Size"]).mean()["% Passing Maths"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1027552483.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_passing_reading = school_summary_df .groupby(["School Size"]).mean()["% Passing Reading"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\1027552483.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_overall_passing = school_summary_df .groupby(["School Size"]).mean()["% Overall Passing"]

In [272]:
# Assemble into DataFrame. 
size_summary_df = pd.DataFrame({
          "Average Maths Score" : size_maths_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Maths": size_passing_maths,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

In [273]:
#formating
size_summary_df.style.format({'Average Maths Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Maths': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [274]:


# Calculate averages for the desired columns.
type_maths_scores = school_summary_df .groupby(["School Type"]).mean()["Average Maths Score"]
type_reading_scores = school_summary_df .groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_maths = school_summary_df .groupby(["School Type"]).mean()["% Passing Maths"]
type_passing_reading =school_summary_df .groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = school_summary_df .groupby(["School Type"]).mean()["% Overall Passing"]

C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\3174344824.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_maths_scores = school_summary_df .groupby(["School Type"]).mean()["Average Maths Score"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\3174344824.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_reading_scores = school_summary_df .groupby(["School Type"]).mean()["Average Reading Score"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\3174344824.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_passing_maths = school_summary_df .groupby(["School Type"]).mean()["% Passing Maths"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\3174344824.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_passing_reading =school_summary_df .groupby(["School Type"]).mean()["% Passing Reading"]
C:\Users\zjoni\AppData\Local\Temp\ipykernel_6388\3174344824.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_overall_passing = school_summary_df .groupby(["School Type"]).mean()["% Overall Passing"]

In [275]:
# Assemble into DataFrame. 
type_summary_df = pd.DataFrame({
          "Average Maths Score" : type_maths_scores,
          "Average Reading Score":type_reading_scores,
          "% Passing Maths": type_passing_maths,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

In [276]:
#formating
type_summary_df.style.format({'Average Maths Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Maths': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})